.ListingShow-MainContent{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 25vh;
}

.rightColumn {
    float: right;
    /* background-color: red; */
    height: 700px;
    width: 40%;
    display: block;
    margin-right: 20px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    margin-top: 2%;

    /* min-height: 1000px; */
}

.description-content {
    padding-bottom: 100px;
    border-bottom: 1px solid lightgray;
}

.posted-date {
    font-weight: lighter;
    font-size: 12px;
}


.leftColumn {
    float: left;
    height: auto;
    width: 50vw;
    margin-left: 10%;
}

.leftColumn > img {
    height: auto;
    width: auto;
    object-fit: cover;
    max-width: 50vw;
}

#see-more {
    
}



.route{
    font-weight: 400;
    font-size: 12px;
    font-style: none;
    margin-left: -8%;

}

a:visited {
    color: black;
}

.item-brand {
    font-weight: 900;
    font-size: 18px;
}

.item-details{
    font-size: 14px;
    font-weight: normal;
}

.item-price {
    font-family: 'Press Start 2P', cursive;
    
}

.shipping-paragraph {
    /* font-size: 10px; */
}

.purchase-button {
    border: 1px solid lightgray;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    transition: background-color 250ms ease,border-color 250ms ease,color 250ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.3;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    color: white;
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 22px;
}

.description-heading {
    font-weight: bold;
    letter-spacing: -.5px;
}

.profile-container{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}