.listing-image {
    height: 150px;
    width: auto;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
}

.feed-details{
    /* height: fit-content; */
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 15px;
}

.listing-brand {
    /* border-top: 1px solid lightgray; */
    width: 100%;
}

.listing-title {
    overflow: hidden;
}

.listing-link{
    text-decoration: none;
}

.feed-price {
    font-family: 'Press Start 2P', cursive;
    /* left: 0; */
    display: flex;
}

.feed-list {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding-bottom: 20px;
}

.feed-title {
    border-top: 1px solid lightgray;
    padding-top: 15px;
    line-height: 3px;
    font-weight: 500;
    left: 0;
    display: flex;
    justify-content: space-between;
}