img {
    height: 100px;
    width: auto;
}

.feed-item{
    display: block;
    width: 150px;
}

.listing-brand {
    border-top: 1px solid lightgray;
    width: 100%;
}

.listing-title {
    overflow: hidden;
}