.feed-container {
    display: grid;
  grid-template-columns: auto auto auto;

  min-height: 100vh;
  padding: 10px;
  width: 100%;

}

.listing-bar {
  /* position: fixed; */
  max-width: 1280px;
  padding-top: 5vh  ;
  width: 100%;
  border-bottom: 1px solid lightgray;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

.feed-rightside {
  /* display: flex; */
  width: 100%;
  right: 0;
  /* background-color: red; */
}
/* .listing-bar {

} */

