.feed-container {
    display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  width: 100%;

}

.listing-bar {
  /* position: fixed; */
  width: 100%;
  border-bottom: 1px solid lightgray;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

.feed-rightside {
  width: 100%;
  right: 0;
  /* background-color: red; */
}
/* .listing-bar {

} */

