h1 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.create-container{
  margin-top: 8vh;
}

.create-inputs {
  width: 20vw;
  height: 5vh;
  border: 1px solid lightgray;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  color: black;
}

.create-headers{
  margin-left: 13vw;
}

.details-container {
  display: flex;
  justify-content: space-around;
  margin-left: 13vw;

}

.details-container-2 {
  margin-left: 13vw;
}

.details-container-3 {
  margin-left: 13vw;
}

#color{
  font-style: italic;
}

#description {
  width: 60vw;
  min-height: 20vh;
}

#price {
  border: none;
  height: 100%;
}
#price2 {
  border: none;
  height: 100%;
}

.price-container {
  border: 1px solid lightgray;
  width: 350px;
  height: 38px;
}