h1 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.create-inputs {
  width: 440px;
  height: 38px;
  border: 1px solid lightgray;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  color: black;
}

.details-container {
  display: flex;
  justify-content: space-around;

}

.details-container-2 {
  margin-left: 13vw;
}

.details-container-3 {
  margin-left: 13vw;
}

#color{
  font-style: italic;
}

#description {
  width: 800px;
  min-height: 140px;
  width: 1001px;
  min-height: 140px;
}

#price {
  border: none;
  height: 100%;
}
#price2 {
  border: none;
  height: 100%;
}

.price-container {
  border: 1px solid lightgray;
  width: 350px;
  height: 38px;
}