.homepage-lists {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
    min-width: 100%;
}

.homepage-list-items {
    list-style-type: none;
    display: inline-block;
    top:50%;
    /* padding-left: 1%; */
    /* vertical-align: top; */
}

.homepage-titles {
    font-size: 20px;
    font-weight: bold; 
    font-family: 'Inter', sans-serif;
    padding-left: 40px;
}

.trend-photos {
    height: 150px;
    width: 300px;
}

.designer-circle {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 1px solid lightgray;
}

.category-photos {
    height: 180px;
    width: 180px;
}

.style-photos {
    height: 180px;
    width: 180px;
}