

.filterbar-container Link{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.filterbar {
    height: 3.5vh;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.filter-list {
  max-width: 1280px;
  /* display: inline-block; */
  list-style-type: none;
  justify-content: space-between;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* z-index: 10; */
}

button {
    font-size: 16px;
    font-weight: 600 ;
    border: none;
    outline: none;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: 'Inter', sans-serif;
    margin: 0; /* Important for vertical align on mobile phones */
}

.filter-bar-links:hover {
  color: blue;
}

.dropdown-button:hover {
  color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
  }

  .dropdown-content Link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: blue;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

