.profile-dropdown {
    position: absolute;
  }

li {
  display: inline;
  font-size: 15px;
}

li > a {
  padding: 15px;
}

#top_left_logo {
  height: 7vh;
  width: auto;
}

.navbar-list{
  list-style-type: none;
  justify-content: space-between;
  margin-right: 30px;
}

.modal-button{
  cursor: pointer;
}

.modal-button:hover{
  border-color: blue;
}


#profile_menu {
  float: right;
}

#profile_menu:hover {
  color: blue
;}

.navbar-links > a{
  text-decoration: none;
  font-weight: bold;
}

.navbar-links > a:hover{
  text-decoration: none;
 color: blue;
}

.navbar-container{
  width: 100%;
}

.logo-Hover{
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  z-index: 999999;
}

.navbar-right{
  display: flex;
}


.navbar-right-mobile{
  display: none;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 90vw;
  top: 2vh;
}

.bm-burger-bars {
  background: #373a47;
}

@media screen and (max-width: 950px) {
  .navbar-container{
    width: 100%;
  }

  .navbar{
    padding: 0;
  }

  #top_left_logo{
    max-width: 75px;
    height: auto;
    padding-right: 2.5vw;
  }

  .filterbar-container{
    display: none;
  }

  .navbar-right{
    display: none;
  }

  .navbar-right-mobile{
    display: block;
  }

  .search-container{
    width: 33vw;
  }
}