.profile-dropdown {
    position: absolute;
  }

li {
  display: inline;
  font-size: 15px;
}

li > a {
  padding: 15px;
}

#top_left_logo {
  height: 7vh;
  width: auto;
  margin-left: 5%;
}

.navbar-list{
  list-style-type: none;
  justify-content: space-between;
  margin-right: 30px;
}


#profile_menu {
  float: right;
}

#profile_menu:hover {
  color: blue
;}

.navbar-links > a{
  text-decoration: none;
  font-weight: bold;
}

.navbar-links > a:hover{
  text-decoration: none;
 color: blue;
}


.navbar {
  z-index: 9999;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  border-bottom: 1px solid lightgray;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

.navbar-right{
  display: flex;

}
