.profile-dropdown {
    position: absolute;
  }

li {
  display: inline;
  font-size: 15px;
  /* margin-right: 5%; */
}

li > a {
  padding: 15px;
}

#top_left_logo {
  /* float: left; */
  height: 27px;
  width: auto;
  margin-left: 5%;
}
ul{
  list-style-type: none;
  justify-content: space-between;

}



#profile_menu {
  float: right;
}


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; 
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
  height: 75px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  display: flex;
  justify-content: space-between;

  
  /* margin-bottom: 2%; */
}