.profile-dropdown {
    position: absolute;
  }

  #log_in_button {
    background-color: white;
    border: 1px solid lightgray;
    height: 30px;
    width: 60px;
  }

#modal-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}